@model InstructorDetailsViewModel

<div class="container">
    <h2>@Model.FullName</h2>
    <img style="width:18rem" src="/Image/@Model.Image" class="img-thumbnail" alt="Instructor Image"  />

    <div class="mt-3">
        <h4>Hiring Date</h4>
        <p>@Model.HiringDate.ToString("dd/MMMM/yyyy")</p>
    </div>

    <div class="mt-3">
        <h4>Teaching Courses</h4>
        @if (Model.CourseNames.Any())
        {
            <ul class="list-group">
                @foreach (var course in Model.CourseNames)
                {
                    <li class="list-group-item">@course</li>
                }
            </ul>
        }
        else
        {
            <div class="alert alert-info">No courses assigned yet.</div>
        }
        <a href="/Instructor" class="btn btn-info">Back</a>
    </div>
</div>